<div class="bfb topbfbs">
<div class="yjcode">
 <ul class="topu1">
 <li class="l1">
 <span class="s1">
 您好，欢迎来到普吉置业！
  </span>
 </li>
 <li class="l2">
 <span id="notlogin">
  <span class="s2"><a href="http://m.vipthailand.cn/config/qq/oauth/index.php"><img border="0" src="http://m.vipthailand.cn/img/qq_login.png" /></a></span>  <span class="s1"><a href="http://m.vipthailand.cn/reg/" class="a1">登录</a> | <a href="http://m.vipthailand.cn/reg/reg.php" class="a1">免费注册</a> | <a href="http://m.vipthailand.cn/search/moblist.html">手机号找房</a></span>
 </span>
 <span id="yeslogin" style="display:none;">
 <span class="feng" id="yesuid"></span>&nbsp;<a href="http://m.vipthailand.cn/user/" class="green" id="tuzx">进入会员中心</a> | <a href="http://m.vipthailand.cn/user/un.php" class="green">退出</a> | <a href="http://m.vipthailand.cn/search/moblist.html">手机号找房</a>
 </span>
 </li>
 </ul>
 <span id="webhttp" style="display:none">http://m.vipthailand.cn/</span>
</div>
</div>
<script language="javascript">
userCheckses();
</script>
<!--顶部开始-->
<div class="topbfb">
 <div class="yjcode">
 
 <div class="logo"> <a href="http://m.vipthailand.cn/" class="a1"><img border="0" src="http://m.vipthailand.cn/img/logo.png"  /></a>
 </div>
 <!--搜B-->
 <form name="topf" method="post" onsubmit="return topser()">
 <ul class="topus">
 <li class="l1">
 <a href="http://m.vipthailand.cn/loupan/" id="topa1" onmouseover="topaover(1,'loupan','','search')">新楼盘</a>
 <a href="http://m.vipthailand.cn/second/" id="topa2" onmouseover="topaover(2,'second','','search')">二手房</a>
 <a href="http://m.vipthailand.cn/rent/" id="topa3" onmouseover="topaover(3,'rent','','search')">租房</a>
 <a href="http://m.vipthailand.cn/second/search_f12v.html" id="topa4" onmouseover="topaover(4,'second','_f12v','search')">写字楼</a>
 <a href="http://m.vipthailand.cn/second/search_f13v.html" id="topa5" onmouseover="topaover(5,'second','_f13v','search')">商铺</a>
 <a href="http://m.vipthailand.cn/news/" id="topa6" onmouseover="topaover(6,'news','','newslist')">资讯</a>
 </li>
 <li class="l2"><input type="text" name="topsert" /></li>
 <li class="l3"><input type="image" src="http://m.vipthailand.cn/img/search.gif" width="59" height="34" /></li>
 </ul>
 </form>
 <!--搜E-->
 <a href="http://m.vipthailand.cn/user/fb.php"><img class="topfb" src="http://m.vipthailand.cn/img/btn6.gif" width="155" height="40" border="0" /></a>
 <div class="mtmap">
 <a href="http://m.vipthailand.cn/mt/" class="a1" target="_blank">手机找房</a>
 <a href="http://m.vipthailand.cn/map/index.php?xs=loupan" target="_blank" class="a2">地图找房</a>
 </div>
 
 <div class="menu fontyh">
  <ul class="u1">
  <li class="l2"><a href="http://m.vipthailand.cn/" class="a1">首页</a></li>
  
  <li class="l3" onmouseover="smenuover(2)" onmouseout="smenuout(2)">
   <a href="http://m.vipthailand.cn/loupan/" class="a1">新楼盘</a>
   <div class="smenu" id="smenu2" style="display:none;">
   <a href="http://m.vipthailand.cn/lphuxing/huxinglist.html" class="a2">户型找房</a>
   <a href="http://m.vipthailand.cn/lpjg/" class="a2">价格走势</a>
   <a href="http://m.vipthailand.cn/lpnews/newslist.html" class="a2">楼盘优惠</a>
   <a href="http://m.vipthailand.cn/lpphoto/photolist.html" class="a2">图解楼盘</a>
   <a href="http://m.vipthailand.cn/lpvideo/videolist.html" class="a2">精彩视频</a>
   <a href="http://m.vipthailand.cn/lpjob/joblist.html" class="a2">楼盘招聘</a>
   </div>
  </li>
  
  <li class="l3"><a href="http://m.vipthailand.cn/lptuan/tuanlist.html" class="red a1">买房团<span class="s1"><img border="0" src="http://m.vipthailand.cn/img/icon7.gif" /></span></a></li>
  
  <li class="l3" onmouseover="smenuover(1)" onmouseout="smenuout(1)">
   <a href="http://m.vipthailand.cn/second/" class="a1">二手房</a>
   <div class="smenu" id="smenu1" style="display:none;">
   <a href="http://m.vipthailand.cn/second/" class="a2">房源列表</a>
   <a href="http://m.vipthailand.cn/xq/" class="a2">小区找房</a>
   <a href="http://m.vipthailand.cn/jjr/jjrlist.html" class="a2">找经纪人</a>
   <a href="http://m.vipthailand.cn/zj/zjlist.html" class="a2">中介公司</a>
   <a href="http://m.vipthailand.cn/qiugou/" class="a2">求购信息</a>
   </div>
  </li>
  
  <li class="l2" onmouseover="smenuover(3)" onmouseout="smenuout(3)">
   <a href="http://m.vipthailand.cn/rent/" class="a1">租房</a>
   <div class="smenu" id="smenu3" style="display:none;">
   <a href="http://m.vipthailand.cn/rent/" class="a2">房源列表</a>
   <a href="http://m.vipthailand.cn/xq/" class="a2">小区找房</a>
   <a href="http://m.vipthailand.cn/jjr/jjrlist.html" class="a2">找经纪人</a>
   <a href="http://m.vipthailand.cn/zj/zjlist.html" class="a2">中介公司</a>
   <a href="http://m.vipthailand.cn/qiuzu/" class="a2">求租信息</a>
   </div>
  </li>

    <li class="l3" onmouseover="smenuover(4)" onmouseout="smenuout(4)">
  <a href="http://m.vipthailand.cn/jc/" class="a1">家装馆</a>
   <div class="smenu" id="smenu4" style="display:none;">
   <a href="http://m.vipthailand.cn/zx/xzxlist.html" class="a2">学装修</a>
   <a href="http://m.vipthailand.cn/zx/" class="a2">装修公司</a>
   <a href="http://m.vipthailand.cn/designer/caselist.html" class="a2">看案例</a>
   <a href="http://m.vipthailand.cn/zx/zbview.html" class="a2">发招标</a>
   <a href="http://m.vipthailand.cn/designer/" class="a2">设计师</a>
   <a href="http://m.vipthailand.cn/jc/" class="a2">选建材</a>
   </div>
  </li>
  
  <li class="l4"><a href="http://m.vipthailand.cn/map/index.php?xs=loupan" class="a1">地图找房</a></li>

  <li class="l2"><a href="http://m.vipthailand.cn/news/" class="a1">资讯</a></li>
  
  <li class="l3" onmouseover="smenuover(5)" onmouseout="smenuout(5)">
   <a href="http://m.vipthailand.cn/tool/dkjsq/" class="a1">房贷工具</a>
   <div class="smenu" id="smenu5" style="display:none;">
   <a href="http://m.vipthailand.cn/dai/" class="a2">金融贷款</a>
   <a href="http://m.vipthailand.cn/tool/dkjsq/" class="a2">贷款计算器</a>
   <a href="http://m.vipthailand.cn/tool/dkjsq/index.php?t=gjj" class="a2">公积金贷款</a>
   <a href="http://m.vipthailand.cn/tool/tqhdjsq/" class="a2">提前还贷</a>
   <a href="http://m.vipthailand.cn/tool/gfnlpg/" class="a2">购房能力</a>
   </div>
  </li>
  
  </ul>
  
 </div>
 
 </div>
</div>
<!--顶部结束-->