<ul class="tleftcap">
<li class="l1">
<a href="<?=weburl?>zx/xzxlist.html" id="tleftcap1">学装修</a>
<a href="<?=weburl?>zx/" id="tleftcap2">装修公司</a>
<a href="<?=weburl?>designer/caselist.html" id="tleftcap3" target="_blank">看案例</a>
<a href="<?=weburl?>zx/zbview.html" id="tleftcap4">发招标</a>
<a href="<?=weburl?>designer/" id="tleftcap5" target="_blank">设计师</a>
<a href="<?=weburl?>jc/" id="tleftcap6">选建材</a>
</li>
<li class="l2">
<a href="<?=weburl?>loupan/"><?=webarea?>楼盘</a>
<a href="<?=weburl?>second/"><?=webarea?>二手房</a>
<a href="<?=weburl?>rent/"><?=webarea?>租房</a>
<a href="<?=weburl?>jjr/jjrlist.html">找经纪人</a>
<a href="<?=weburl?>zj/zjlist.html">中介公司</a>
</li>
</ul>