<div class="bfb topbfbs">
<div class="yjcode">
 <ul class="topu1">
 <li class="l1">
 <span class="s1">
 您好，欢迎来到普吉置业！
  </span>
 </li>
 <li class="l2">
 <span id="notlogin">
  <span class="s2"><a href="http://m.vipthailand.cn/config/qq/oauth/index.php"><img border="0" src="http://m.vipthailand.cn/img/qq_login.png" /></a></span>  <span class="s1"><a href="http://m.vipthailand.cn/reg/" class="a1">登录</a> | <a href="http://m.vipthailand.cn/reg/reg.php" class="a1">免费注册</a> | <a href="http://m.vipthailand.cn/search/moblist.html">手机号找房</a></span>
 </span>
 <span id="yeslogin" style="display:none;">
 <span class="feng" id="yesuid"></span>&nbsp;<a href="http://m.vipthailand.cn/user/" class="green" id="tuzx">进入会员中心</a> | <a href="http://m.vipthailand.cn/user/un.php" class="green">退出</a> | <a href="http://m.vipthailand.cn/search/moblist.html">手机号找房</a>
 </span>
 </li>
 </ul>
 <span id="webhttp" style="display:none">http://m.vipthailand.cn/</span>
</div>
</div>
<script language="javascript">
userCheckses();
</script>