<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
			    <rule name="webre0">
                    <match url="vip(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/shop/view.php?str={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 1">
                    <match url="^(.*)/search(.*).html(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/index.php?str={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^(.*)/view([0-9]*).html(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/view.php?id={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^(.*)/(.*)list(.*).html(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/{R:2}list.php?str={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^(.*)/(.*)view(.*).html(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/{R:2}view.php?id={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
